{define flashes}
	<div n:snippet="flashes">
		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type, alert-dismissable, fade, show" role="alert">
			{$flash->message}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
{/define}


{define formErrors}
	{default all = false}
	{var errors = $all ? $form->getErrors() : $form->getOwnErrors()}
	<div class="text-danger mb-3 nette-error" n:if="$errors" n:inner-foreach="$errors as $e">{$e}{sep}<br>{/sep}</div>
{/define}


{define errors}
	{var errors = $input->getErrors()}
	<div class="invalid-feedback nette-error" n:if="$errors" n:inner-foreach="$errors as $e">{$e}{sep}<br>{/sep}</div>
{/define}
