.training-stages-questions-container {
	text-align: left;
	position: relative;
	margin-top: 43px;
	width: 382px;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	p {
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 13px;
		font-weight: 600;
		line-height: 18px;
		margin-bottom: 14px;
	}
	.btn-embryo {
		margin-left: 25px;
		height: 46px;
		line-height: 43px;
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
		border: 2px solid #FFB583;
		border-radius: 23px;
		background-color: #F3A16A;
		color: #FFFFFF;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 600;
		&:hover {
			text-decoration: none;
			background-color: #f5ab7a;
		}
	}
	.inner {
		padding-top: 0px;
		margin: 15px;
		padding-bottom: 15px;
		&.first {
			padding-top: 10px;
			border-bottom: 1px solid #ececec;
		}
		&.locked {
			background-color: rgba(255,255,255,0.5);
			filter: blur(5px);
			position: relative;
		}
	}
	.locked-wrapper {
		position: absolute;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		height: 110px;
		padding-top: 15px;
		bottom: 0;
		background: rgba(255,255,255,0.8);
		.lock-circle-icon-wrapper {
			margin-top: 5px;
		}
		p {
			text-align: center;
			width: 100%;
			color: #B3B3B3;
			font-family: "Open Sans";
			font-size: 13px;
			font-weight: 600;
			line-height: 18px;
			text-align: center;
			margin-bottom: 0;
			margin-top: 10px;
		}
		p.orange {
			color: #F3A16A;
		}
	}
	.training-icon,
	.test-icon {
		height: 56px;
		width: 56px;
		display: inline-block;
		background-position: 50% 24%;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
	}
	.training-icon {
		background-image: url(/esc-web-app/www/img/embryo-normal.svg);
		&.active {
			background-image: url(/esc-web-app/www/img/embryo-normal-active.svg);
		}
	}
	.test-icon {
		background-image: url(/esc-web-app/www/img/test-stages-normal.svg);
		&.active {
			background-image: url(/esc-web-app/www/img/test-stages-normal-active.svg);
		}
	}
	.test-section {
		min-height: 100px;
	}

}
