input, select {
	border-radius: 0 !important;
	-webkit-appearance: none;
	background-color: transparent;
	&[type=checkbox] {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		z-index: 5;
		opacity: 0;
	}
	&:not([type=checkbox]) {
		display: block;
		margin: 0 auto;
		width: 100%;
		border: 0;
		border-bottom: 2px solid #a2a2a2;
		padding: 8px 0;
		color: #7b7b7b;
		font-size: 16px;
		line-height: 22px;
		&:focus {
			outline: none;
			border-bottom-color: #EB8446;
			~ label {
				color: #E37526;
			}
		}
		~ label {
			position: absolute;
			color: #A1A1A1;
			font-size: 16px;

			line-height: 40px;
			top: 0;
			margin-bottom: 0;
			left: 0;
			text-align: left;

			pointer-events: none;
			transition: 0.2s ease all;
			-moz-transition: 0.2s ease all;
			-webkit-transition:0.2s ease all;
		}
	}
	&::placeholder {
		color: transparent;
	}
}

// shame
.select, input, select {
	+ input,
	+ select {
		margin-top: 30px!important;
	}
}
.select {
	position: relative;
	&::after {
		content: " ";
		position: absolute;
		height: 6.38px;
		width: 6.38px;
		border-width: 0 1px 1px 0;
		border-style: solid;
		border-color: #535353;
		transform: rotate(45deg);
		right: 8px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
button[type=submit] {
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	padding: 12px 54px;
	border-radius: 25px;
	box-shadow: none;
	background-color: #E37526;
	margin: 0 auto;
	display: block;
	&:hover {
		cursor: pointer;
	}
}
.form-group {
	margin-top: 0;
	margin-bottom: 30px;
	position: relative;
	&.left {
		float: left;
		min-width: 47%;
		text-align: left;
	}
	&.right {
		float: right;
		min-width: 47%;
		text-align: right;
	}
	&.margin-t {
		margin-top: 50px;
	}
	&.margin-b {
		margin-bottom: 50px;
	}
}

input:not([type=checkbox]):focus,
input:not([type=checkbox]).has-value,
input:not([type=checkbox]):required:valid,
select:not([type=checkbox]) {
	~ label {
		top: -25px;
		font-size: 13px;
		font-weight: 600;
	}
}

.invalid-feedback.nette-error {
	display: block;
}
