.perc-two-side-arrow-wrapper {
	width: 89%;
	position: relative;
	padding: 0 20px;
	display: inline-block;
	margin-top: 25px;
	.two-sided-arrow {
		height: 8px;
		width: 100%;
		background: linear-gradient(to right, #2EC650, #BB5408);
		transform-origin: bottom left;
		position: relative;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			border-style: solid;
			border-color: red transparent;
		}
		&:after {
			border-color: #2EC650 transparent;
			top: -6px;
			left: -19px;
			transform: rotate(270deg);
			border-width: 0 10px 20px 10px;
		}
		&:before {
			border-color: #BB5408 transparent;
			bottom: -6px;
			border-width: 20px 10px 0 10px;
			left: initial;
			right: -19px;
			transform: rotate(270deg);
		}
	}

	.perc-for-two-sided-arrow {
		margin-left: -20px;
		margin-right: -26px;
		margin-bottom: 5px;
		background: linear-gradient(to right, #2EC650, #BB5408);
		-webkit-text-fill-color: transparent;
		color: #F3A16A;
		-webkit-background-clip: text;
		span {
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 600;
			line-height: 19px;
			width: 35px;
			margin-right: calc(14.7% - 35px);
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
