
.embryos-test-container {

	a.disabled {
		pointer-events: none;
		color: #EFE4DC;
	}

	&.success,
	&.fail {
		.embryo-stage-selection-undertitle {
			color: #4F4F4F;
			font-family: "Open Sans";
			font-size: 20px;
			font-weight: 600;
			line-height: 37px;
			margin-bottom: 26px;
			text-align: center;
		}
	}
	&.success {
		.embryo-stage-selection-title {
			color: #61B945;
			font-family: "Open Sans";
			font-size: 30px;
			font-weight: 600;
			line-height: 41px;
			text-align: center;
			margin-top: 4px;
		}
		.embryo-stage-selection-undertitle span {
			color: #61B945;
		}
		.training-question-box,
		.success-header-wrapper,
		.btn.btn-continue {
			position: relative;
			top: -53px;
		}
	}
	&.fail {
		.embryo-stage-selection-undertitle span {
			color: #D87B7B;
		}
		.training-question-box,
		.fail-header-wrapper,
		.btn.btn-continue {
			position: relative;
			top: -53px;
		}
		.embryo-stage-selection-subtitle {
			line-height: 30px;
		}
	}
	.training-question-options-container .designation-num ~ .tripple-arrow-upper-wrapper {
		display: none;
	}
	.embryo-stage-selection-title {
		margin-top: 30px;
		margin-bottom: 10px;
	}
	a.close-training-button {
		margin-top: 33px;
		display: inline-block;
	}
	.embryo-stage-selection-subtitle {
		margin-bottom: 33px;
		color: #A1A1A1;
		font-family: "Open Sans";
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
	}
	.training-question-options-container {
		text-align: center;
		margin-bottom: 20px;
	}
}
