{layout ../@login.latte}

<a n:block="footerLink" n:href="Login:">Back to Login</a>

{block header /}

{block content}
<h1>
	<a n:href="Homepage:">
		<img src="{$basePath}/img/ESC_logo_orange.svg" alt="Embryo Score &amp; Compare">
	</a>
</h1>
<div class="password-form-container form-container">
	{include flashes flashes => $flashes}
	<h2>Password recovery</h2>
	<p>Your account is registered to certain email address.</p>
	<p>Please, type in that email address to recover your password.</p>
	<form class="user-form" n:name="forgottenPasswordForm">
		<div class="form-group margin-t margin-b">
			<input n:name="email" n:class="$form[email]->hasErrors() ? is-invalid" placeholder="Email">
			<label>Email</label>
			{include errors input => $form[email]}
		</div>
		<button class="btn" type="submit" n:name="submit">Reset password</button>
	</form>
</div>
