.error-section-container {
	position:fixed;
	top: 50%;
	left: 50%;
	width: 30em;
	height: 256px;
	margin-top: -128px;
	margin-left: -15em;
	text-align: center;
	img {
		height: 34%;
		width: auto;
		display: block;
		margin: 0 auto;
	}
	h3#error-heading {
		display: block;
		margin-top: 48px;
		margin-bottom: 48px;
		color: #E37526;
		font-family: "Open Sans";
		font-size: 22px;
		font-weight: 600;
		text-align: center;
		text-align: center;
	}
	a.btn-embryo {
		height: 46px;
		line-height: 46px;
		display: inline-block;
		padding-left: 30px;
		padding-right: 30px;
		width: auto;
		border-radius: 23px;
		background-color: #E37526;
		color: #FFFFFF;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 600;
	}
}
