#compare-detail {
	position: absolute;
	left: 0;
	right: 0;
	border: 3px solid #5CC6C6;
	background-color: white;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
	hr {
		margin-left: -40px;
		margin-right: -40px;
		margin-top: 0;
	}
	.info-wrapper {
		margin-top: 15px;
		margin-bottom: 20px;
	}
	#compare-header {
		height: 41px;
		display: block;
		color: #5CC6C6;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 600;
		line-height: 19px;
		margin-top: 20px;
		margin-bottom: 20px;
		img {
			margin-right: 16px;
		}
	}
	.close {
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: -12px;
		color: #A1A1A1;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 600;
		line-height: 19px;
			padding-right: 26px;
		&::after {
			content: " ";
			height: 20px;
			border-left: 2px solid #A1A1A1;
			position: absolute;
			transform: rotate(45deg);
			right: 9px;
		}
		&::before{
			content: " ";
			height: 20px;
			border-left: 2px solid #A1A1A1;
			position: absolute;
			transform: rotate(-45deg);
			right: 9px;
		}
	}
	.top-box {
		margin-bottom: 9px;
		height: 32px;
		display: table;
		margin-left: 1px;
		.title-box {
			vertical-align: middle;
			display: inline-block;
		}
		+ p {
			color: #6F6F6F;
			font-family: "Open Sans";
			font-size: 14px;
			line-height: 27px;
			font-weight: normal;
			margin-left: 1px;
			margin-bottom: 0;
		}
		.info {
			border-radius: 4px;
			color: #FFFFFF;
			font-size: 15px;
			font-weight: 600;
			height: 32px;
			line-height: 32px;
			width: 85px;
			text-align: center;
			display: inline-block;
			margin: 0 0 0 20px;
			span {
				color: white;
			}
		}
		.right-box {
			display: inline-block;
			position: relative;
			float: right;

			.remove-compare-embryo {
				top: 0;
				bottom: 0;
				position: relative;
				color: #A1A1A1;
				font-family: "Open Sans";
				font-size: 13px;
				font-weight: 600;
				line-height: 18px;
				display: inline-block;
				padding-left: 30px;
				margin-top: 10px;
				&::before {
					content: " ";
					height: 24px;
					width: 24px;
					left: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					display: inline-block;
					position: absolute;
					cursor: pointer;
				}
			}
		}
	}
	.data-chart-container {
		height: 115px;
	}
	.embryo-graph,
	.embryo-graph-header,
	.compare-embryo-track {
		height: 105px;
		padding-top: 40px;
	}
	.play-btn {
		cursor: pointer;
		height: 105px;
		width: 105px;
		float: right;
		margin-right: -15px;
		img {
			height: 105px;
			width: 105px;
		}
	}
	h3 {
		color: #4F4F4F;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 600;
		line-height: 18px;
		margin-bottom: 0;
		display: inline-block;
	}
	span {
		color: #6F6F6F;
		font-family: "Open Sans";
		font-size: 15px;
		line-height: 17px;
	}
	.inside {
		min-height: 258px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.cluster-id {
		margin-left: 20px;
	}
}

#compare-detail .images-chart-container {
	width: 100%;
	max-width: none;
}
