.arrow-right-icon {
	display: inline-block;
	position: relative;
	top: 4px;
	transition: all 0.25s;
	width: 16px;
	margin-left: 10px;
	svg {
		color: #C3C3C3 !important;
		width: 16px !important;
		transition: all 0.25s;
		&.left {
			transform: rotate(180deg);
		}
		&.right {
			color: white !important;
			g {
				stroke: white !important;
			}
		}
	}
}

.step-back {
	.arrow-right-icon {
		margin-left: 0;
		margin-right: 10px;
	}
	&:hover .arrow-right-icon {
		svg.left g {
			stroke: #6E6E6E !important;
		}
	}
}
