<link n:block="head" rel="stylesheet" href="{webpack main.css}" crossorigin="anonymous">
<script n:block="scripts" src="{webpack main.js}" crossorigin="anonymous"></script>

{block content}
	<noscript>
		You need to enable JavaScript to run this app.
	</noscript>
	<div
		id="root"
		class="desktop-app"
		data-user-name="{$userIdentity->fullName}"
		data-clean-cache-button="{$cleanCacheButton}"
	></div>
