.load-more-container {
	text-align: center;
	padding-top: 20px;

	.load-more-button {
		cursor: pointer;
		background-color: #EB8446;
		border-radius: 27px;
		box-shadow: 0 4px 6px 0 rgba(0,0,0,0.14);
		color: #FFFFFF;
		border: none;
		height: 42px;
		line-height: 42px;
		width: 128px;
		font-family: "Open Sans";
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		outline: 0;
		&:hover {
			background-color: #f58b4b;
		}
	}
}
