.embryos-detail {
	position: relative;
	float: left;
	left: 0;
	right: 0;
	width: calc(100% - 36px);
	margin: 0 18px 18px;
	border-radius: 3px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(170,170,170,0.5), 0 5px 20px 0 rgba(184,184,184,0.5);

	animation-duration: 1.5s;
	animation-name: opendetail;

	&.comparing {
		.fa-check {
			display: inline-block;
		}
		.fa-plus {
			display: none;
		}
		.compare {
			display: none;
		}
		.comparing {
			display: inline-block;
		}
	}

	.fa-check {
		display: none;
	}
	.comparing {
		display: none;
	}

	&__head {
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 5px;
		min-height: 50px;
		height: auto;
		h3, h4,
		.add-to-compare-button-container {
			display: inline-block;
		}
		.add-to-compare-button-container {
			margin: 0;
			position: static;
			button.add-to-compare-button {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: -2px;
				box-shadow: none;
			}
		}
		a.close {
			transition: all 1s;
			position: absolute;
			right: 13px;
			top: 13px;
			background: url(../../../../../../../../img/app-icons/icon-arrow-up.svg) no-repeat center;
			color: transparent;
			text-shadow: none;
			opacity: 1;
			height: 15px;
			width: 28px;
			z-index: 100;
			cursor: pointer;
		}
		h3 {
			margin: 0 10px 0 0;
			height: 50px;
			line-height: 50px;
			font-family: "Open Sans";
			font-size: 18px;
			font-weight: bold;
		}
		h4 {
			margin: 0 16px 0 0;
			color: #4A4A4A;
			font-family: "Open Sans";
			font-size: 18px;
			font-weight: bold;
			line-height: 24px;
		}
	}
	&__body {
		display: block;
		vertical-align: middle;
		margin: 13px auto 0;
		padding: 0 15px;
		&--images {
			.bg-img {
				opacity: 0.4;
				transition: opacity 0.25s;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	.cluster-id {
		float: right;
		margin-right: 45px;
	}
} // end of .embryos-detail

.embryos-detail__body .images-chart-container {
	width: 100%;
	max-width: none;
}

.bg-img {
	display: inline-block;
	width: 130px;
	height: 130px;
	background: no-repeat 0 0;
	background-size: cover;
}

.division {
	&__detail {
		display: inline-block;
		p {
			padding-left: 10px;
			color: #FFFFFF;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 600;
			line-height: 17px;
		}
	}
}

@keyframes opendetail {
	0% {
		max-height: 0;
		overflow: hidden;
		opacity: 0;
	}

	50% {
		opacity: 1
	}

	100% {
		max-height: 1000px;
		overflow: hidden;
	}
}
