
footer {
	padding-bottom: 50px;
	background-color: #F6F6F6;
	border-top: 3px solid #E76120;
	p {
		line-height: 29px;
		margin-bottom: 0;
		font-size: 14px;
		text-align: center;
		&.p-header {
			color: #5A5A5A;
			font-size: 16px;
			font-weight: bold;
			line-height: 22px;
			margin-top: 27px;
			margin-bottom: 15px;
		}
	}
	a {
		display: block;
		color: #5A5A5A;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 600;
		line-height: 29px;
		text-decoration: none;
		text-align: center;
	}
	.img-container {
		text-align: center;
		img {
			display: inline-block;
			padding: 30px;
		}
	}
}

@include media-breakpoint-up(xl) {
	footer {
		padding-bottom: 0;
		height: 170px;
		p {
			text-align: left;
		}
		a {
			text-align: left;
		}
		.img-container {
			position: relative;
			height: 100%;
			text-align: left;
			img {
				display: inline;
				padding: 0;
				position: absolute;
				top: 50%;
				&.fc {
					right: 15px;
					top: 38px;
				}
				&.nt {
					bottom: 5px;
				}
			}
		}
	}
}
