nav, .nav {
	width: 100%;
	z-index: 110;
	position: absolute;
	h1 {
		float: left;
		padding: 20px 17px;
	}
	ul {
		list-style: none;
		float: right;
		margin-bottom: 0;
		li {
			display: inline-block;
			padding: 20px 17px;
			a, .btn {
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 600;
				line-height: 22px;
				color: white;
				transition: all 0.15s;
				&:hover {
					color: #F78629;
					text-decoration: none;
				}
			}
			.btn {
				padding: 15px 36px;
			}
		}
	}
	&.nav-fixed {
		position: fixed;
		top: 0;
		background-color: white;
		box-shadow: 0 2px 4px 0 rgba(240, 240, 240, 0.9);
		ul {
			padding-left: 0;
			padding-right: 40px;
			li {
				a {
					transition: color 0.15s;
					color: #4A4A4A;
					border-color: #4A4A4A;
					&:hover {
						color: #F78629;
					}
				}
				.btn {
					transition: color 0.15s;
					transition: border-color 0.15s;
					&:hover {
						border-color: #F78629;
						color: white;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
		nav, .nav {
		display: none !important;
	}
}
