

/* colors */
$primary-orange: #F78629;
$secondary-orange: #F47F36;
$dark-orange: #D06309;
$app-orange-default: #E37526;

$primary-blue: #1DA2D3;
$light-blue: #A2E5FF;

$grey-h1: #484848;

// custom breakpoints only for a good reason
// use this breakpoints (bootstrap 4 - Alpha)! like this:
