.secondary {
	margin: 0 20px;
	ul {
		list-style: none;
		font-size: 14px;
		font-weight: 600;
		line-height: 23px;
		label, > div {
			display: block;
			padding: 10.5px 8px;
			border-radius: 4px;
			color: #4A4A4A;
			transition: all .5s cubic-bezier(0.2, 1, 0.3, 1);
			&:hover {
				background-color: #EBEBEB;
			}
			.checkbox {
				margin-right: 12px;
			}
		}
		input[type=checkbox]:checked + label {
			background-color: #6B93C0;
			color: white;
			.checkbox {
				background-color: #4B6F98;
				border-color: transparent;
				&::after {
					border-color: white;
				}
			}
		}
	}
	> ul {
		margin: 2px;
		margin-bottom: 21px;
		padding: 5px 5px;
		background-color: #FFFFFF;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	}
}
