.training-requirements-container {
	text-align: left;
	margin-top: 50px;
	h3 {
		color: #4F4F4F;
		font-family: "Open Sans";
		font-size: 20px;
		font-weight: 600;
		line-height: 27px;
		text-align: center;
		padding-left: 55px;
		margin-bottom: 50px;
		text-align: left;
	}
	.training-embryos-number-container {
		position: relative;
		left: -36px;
		margin-top: 61px;
	}
	.progress-wrapper {
		display: inline-block;
		float: right;
		position: relative;
		margin-right: 30%;
		top: 10px;
		.min-value-wrapper {
			position: relative;
			top: -27px;
			left: -12px;
			span {
				color: #A1A1A1;
				font-family: "Open Sans";
				font-size: 12px;
				font-weight: 600;
				line-height: 17px;
				text-align: center;
				position: absolute;
				&.arrow {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 7.32px 6px 0 6px;
					border-color: #6A6A6A transparent transparent transparent;
					position: absolute;
					left: 7px;
					top: 16px;
				}
			}
		}
		.progress {
			display: block;
			height: 6px;
			width: 163px;
			border-radius: 3px;
			background-color: #DDDDDD;
			.progress-bar {
				height: 6px;
				border-radius: 3px;
				background-color: #F3A16A;
			}
		}
		p {
			display: block;
			text-align: right;
			color: #A1A1A1;
			font-family: "Open Sans";
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			float: right;
			span {
				color: #F3A16A;
			}
		}
	}
	p {
		display: inline-block;
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 15px;
		line-height: 20px;
		font-weight: 400;
		span {
			font-weight: 600;
		}
	}
	.training-embryos-accuracy-container {
		margin-top: 40px;
		position: relative;
		left: -36px;
	}
	.success-rate-icon-wrapper,
	.embryo-training-icon-wrapper {
		display: inline-block;
		float: left;
		width: 36px;
		position: relative;
		left: -15px;
		top: -8px;
	}
	.success-rate-icon-wrapper {
		top: -5px;
	}
	.info-wrapper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		.pseudo-label-legend {
			display: none;
		}
	}
	.training-embryos-accuracy-container {
		.success-rate-icon-wrapper {
			top: -1px;
			& + p {
			position: relative;
			top: 5px;
			}
		}
		.progress-wrapper {
			top: 20px;
		}
		.pseudo-info-tooltip {
			margin-top: -419px;
			margin-left: -200px;
			min-width: 890px;
		}
		.info-wrapper {
			position: relative;
			top: 7px;
		}
	}
}
