.container-fluid .container {
	padding: 0;
}

.dashboard-container {
	top: 50px;
	bottom: 0;
	width: calc(100% - 30px);
	position: absolute;
	min-height: 650px;
}

.req-stag-wrapper {
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 188px;

	background-color: #F7F7F7;
	background-image: url("../../../../img/background.svg");
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-bottom: 50px;
	h3.main {
		color: #A1A1A1;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
		text-align: center;
		max-width: 501px;
		margin: 0 auto;
		margin-top: 40px;
	}
}
