.embryos-grid-top-bar-text {
	margin: 0;
	color: #787878;
	font-family: "Open Sans";
	font-size: 12px;
	line-height: 23px;
	text-align: right;
	position: relative;
	top: -7px;
	padding-right: 25px;
	span {
		font-weight: bold;
	}
}

.embryos-grid-list-view-toggle {
	padding: 3.5px 0;
	margin: 0 18px 0 0;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	&.last-icon {
		border-left: 1px solid #cacaca;
		padding-left: 18px;
		svg g > g {
			transition: 0.25s stroke;
		}
		svg:hover g > g {
			stroke: #F47F36 !important;
		}
	}
}

.embryos-grid-top-bar-download {
	margin: 0 0 0 16px;
	cursor: pointer;
	display: inline-block;
}

.title-container {
	padding-top: 10px;
	.embryos-grid-title {
		color: #484848;
		font-family: "Open Sans";
		font-size: 39px;
		font-weight: 300;
		line-height: 53px;
	}
}

.TopBar > .row {
	max-width: 1374px;
}
