#embryos-compare {
	background-color: white;
	border: 3px solid #5CC6C6;
	padding: 14px 0 25px 0;
	transition: all 1s;
	transform: translateZ(0);
	&.hide-compare {
		bottom: -416px;
		border-color: transparent!important;
		background-color: #ffffffa6!important;
		padding-top: 30px;
		box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25);
		& > .row {
			& > div {
				opacity: 0;
			}
			>span {
				display: block;
				opacity: 1;
			}
		}
		a.close {
			top: 3px;
			opacity: 1;
			background-image: url(../../../../img/app-icons/icon-arrow-up.svg);
		}
	}
	& > .row {
			& > div {
				opacity: 1;
				transition: opacity 1s;
			}
	}
	.compare-embryo {
		text-align: center;
		margin: 15px auto;
	}
	.row > span {
		color: #9c9c9c;
		opacity: 0;
		display: none;
		top: 0;
		left: 0;
		right: 0;
	}
	.Compare-image {
		width: 106px;
		height: 100px;
		border-radius: 4px;
		padding: 6px;
		background-color: #efefef;
		position: relative;
		img {
			border-radius: 4px;
			width: 100%;
			height: 100%;
		}
	}
	.close {
		transition: all 1s;
		position: absolute;
		right: 10px;
		top: 10px;
		background: url(../../../../img/app-icons/icon-arrow-down.svg) no-repeat center;
		color: transparent;
		text-shadow: none;
		opacity: 1;
		height: 15px;
		width: 28px;
		z-index: 100;
	}
	.info-wrap {
		vertical-align: middle;
		display: inline-block;
	}
	.info {
		background-color: #2AC64D;
		border-radius: 4px;
		color: #FFFFFF;
		font-size: 15px;
		font-weight: 600;
		height: 32px;
		line-height: 32px;
		width: 85px;
		margin-bottom: 0;
		text-align: center;
		span.tooltip-top {
			height: 100%;
			width: 100%;
			display: inline-block;
		}
	}
	.First-embryo {
		.info-wrap {
			margin-right: 23px;
		}
	}
	.Second-embryo {
		.info-wrap {
			margin-left: 23px;
		}
	}
	.compare-information {
		color: #9E9E9E;
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		text-align: center;
		position: relative;
		padding: 0 10px;
		top: 50%;
		transform: translateY(-50%);
		&.ready {
			color: #5CC6C6;
		}
		img {
			display: block;
			margin: 0 auto 9px auto;
		}
	}
	.compare-btn-wrapper {
		position: relative;
		display: inline;
		height: 100%;
		.btn {
			&-compare {
				padding: 14px 33px;
				border-radius: 27px;
				background-color: #5CC6C6;
				box-shadow: 0 4px 6px 0 rgba(0,0,0,0.14);
				color: #FFFFFF;
				font-size: 15px;
				font-weight: 600;
				line-height: 20px;
				text-align: center;
				opacity: .6;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				cursor: default;
				&.compare-ready {
					transition: all 0.25s;
					opacity: 1;
					cursor: pointer;
					&:hover {
						opacity: 0.8;
					}
					&:before {
						content: " ";
						position: absolute;
						height: calc(100% + 16px);
						width: calc(100% + 16px);
						background-color: transparent;
						top: -8px;
						left: -8px;
						border-radius: 31px;
						border: 1px solid #5bc6c6;
					}
				}
			}
		}
	}
	.no-compare-image {
		position: relative;
		display: inline-block;
		margin-bottom: -7px;
		width: 106px;
		height: 100px;
		border-radius: 4px;
		padding: 6px;
		background-color: #efefef;
		& > div {
			width: 100%;
			height: 100%;
			border-radius: 4px;
			border: 3px dashed white;
		}
		span {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			color: grey;
			text-align: center;
		}
	}
}

.remove-compare-embryo {
	position: absolute;
	top: -5px;
	right: -8px;
	border-radius: 50%;
	font-size: 0;
	&:before {
		content: " ";
		height: 24px;
		width: 24px;
		background-image: url(../../../../img/icon-x-normal.svg);
		display: block;
		cursor: pointer;
	}
	&:hover {
		&:before {
			background-image: url(../../../../img/icon-x-hover.svg);
		}
	}
}

@media (min-width: 768px) {
	#embryos-compare {
		&.hide-compare {
			bottom: -134px;
		}
		.compare-embryo {
			margin: 0;
		}
		.First-embryo {
			text-align: right;
			.info-wrap {
				margin-right: 7px;
			}
		}
		.Second-embryo {
			text-align: left;
			.info-wrap {
				margin-left: 7px;
			}
		}
	}
}

@media (min-width: 992px) {
	#embryos-compare {
		.First-embryo {
			text-align: right;
			.info-wrap {
				margin-right: 23px;
			}
		}
		.Second-embryo {
			text-align: left;
			.info-wrap {
				margin-left: 23px;
			}
		}
	}
}
