<html>
	<head>
		<title>Reset Password Request</title>
		<meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				font-family: "Open Sans", sans-serif;
				color: #585858;
				font-size: 16px;
				line-height: 27px;
			}
			p {
				margin: 2rem 0;
				color: #585858;
				font-size: 16px;
				line-height: 27px;
				font-family: "Open Sans", sans-serif;
				font-weight: normal;
			}
		</style>
	</head>
	<body>
		<table width="100%" bgcolor="#f3f3f3" style="font-family: "Open Sans", sans-serif;"><tr><td align="center">
			<table cellspacing="0" style="max-width: 700px;"><tr><td>
				<table bgcolor="#ffffff" width="100%" cellspacing="20">
				<tr>
					<td align="center"><img src="assets/ESC_logo_orange.svg"></td>
				</tr>
				</table>
				<table bgcolor="#ffffff" width="100%" style="border-top: 1px solid #e3e3e3; color: #585858;" cellspacing="30">
				<tr>
					<td align="center">
						<h1 style="color: #E76120;font-family: 'Open Sans', sans-serif;font-size: 22px;font-weight: 600;line-height: 27px;">Create new password</h1>
						<p>You requested new password for Embryo Score &#38; Compare. To set a new password, please click on the button below.</p>
						<p><a n:href="PasswordRecovery:resetPassword email => $user->getEmail(), code => $code" style="color: #FFFFFF;font-family: 'Open Sans', sans-serif;text-decoration: none; font-size: 18px;font-weight: bold;line-height: 24px;padding: 18px 32px;background-color: #F78629;border-radius: 30px; display: inline-block;">CREATE NEW PASSWORD</a></p>
						<p>If you did not request new password, please ignore this email. This email becomes void after 30 minutes.</p>
						<p style="color: #585858;font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight: 600;line-height: 27px;margin-bottom: 0;">Your Embryo Score &#38; Compare team</p>
					</td>
				</tr>
			</table>
			</td></tr></table>
			<table cellspacing="15" style="color: #868686;font-size: 12px;line-height: 17px;">
				<tr>
					<td align="center">Copyright (C) - Embryo Score &#38; Compare powered by Prague Fertility Centre</td>
				</tr>
				<tr>
					<td align="center"><img src="assets/logo-pfc.svg"></td>
				</tr>
				</table>
		</td></tr></table>
	</body>
</html>
