<link n:block="head" rel="stylesheet" href="{webpack user.css}" crossorigin="anonymous">
<script n:block="scripts" src="{webpack user.js}" crossorigin="anonymous"></script>

{block header /}

{block content}
<div class="container-fluid">
	<div id="header-root" class="desktop-app" data-user-name="{$userIdentity->fullName}"></div>
</div>
<div class="container-fluid user-header">
	<h1 n:inner-block="title">Profile</h1>
</div>

<div class="container user-body">
	{include flashes flashes => $flashes}
	<div class="row">
	<div class="col-12 col-md-4">
		<div class="img-rounded">
			<img src="">
		</div>
	</div>
	<div class="col-12 col-md-4">
	<form n:name="settingsForm" class="user-form">
		{include formErrors form => $form}

		<div class="form-group">
			<input n:name="firstName" n:class="$form[firstName]->hasErrors() ? is-invalid" onkeyup="inputValid()"  placeholder="First name">
			{label firstName /}
			{include errors input => $form[firstName]}
		</div>

		<div class="form-group">
			<input n:name="lastName" n:class="$form[lastName]->hasErrors() ? is-invalid"  placeholder="Last name">
			{label lastName /}
			{include errors input => $form[lastName]}
		</div>

		<div class="form-group">
			<div class="select">
				<select n:name="clinic" n:class="$form[clinic]->hasErrors() ? is-invalid"></select>
			{label clinic /}
			</div>
			{include errors input => $form[clinic]}
		</div>

		<div class="wrap-collabsible">
			<input n:name="changePassword" class="toggle" />
			<label n:name="changePassword" class="lbl-toggle">Change Password</label>
			{include errors input => $form[changePassword]}
			<div class="collapsible-content">
				<div class="content-inner">
					<div class="form-group">
						<input n:name="passwordOld" n:class="$form[passwordOld]->hasErrors() ? is-invalid" placeholder="Old password">
						{label passwordOld /}
						{include errors input => $form[passwordOld]}
					</div>

					<div class="form-group">
						<input n:name="password" n:class="$form[password]->hasErrors() ? is-invalid" placeholder="New password">
						{label password /}
						{include errors input => $form[password]}
					</div>

					<div class="form-group">
						<input n:name="passwordConfirm" n:class="$form[passwordConfirm]->hasErrors() ? is-invalid" placeholder="New password (again)">
						{label passwordConfirm /}
						{include errors input => $form[passwordConfirm]}
					</div>
				</div>
			</div>
		</div>

		<button class="btn" n:name="submit">Update Settings</button>
	</form>
	</div>
</div>
